<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
        <a href="/" class="w3-bar-item w3-button">Gourmet au Catering: {{categoryPage}}</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="{{naveBarreUrl}}"       class="w3-bar-item w3-button">{{navebarre}}</a>
            <a href="/client/attenteDelais/" class="w3-bar-item w3-button">Temps d'attente</a>
            <a href="/client/serviceTable/"  class="w3-bar-item w3-button">Suivis serveur</a>
        </div>
    </div>
</div>